@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    height: 100%;
}

body {
    font-family: "Century Gothic", sans-serif;
    min-height: calc(100vh);
}

html,
body {
    scroll-padding-top: 65px; /* set to the height of your header */
}

#app {
    min-height: 100%;
}

.defaultLayout {
    min-height: calc(100vh);
    height: 100%;
    display: flex;
    flex-direction: column;
}

.defaultLayout__nav {
    flex: 0 0 auto;
    min-height: 63px;
    @apply w-full;
    @apply flex;
    @apply justify-end;
}

.defaultLayout__main {
    flex: 1 0 auto;
    height: calc(100vh - 200px);
    min-height: 400px;
    @media all and (max-width: 992px) {
        height: auto;
    }
}

.defaultLayout__footer {
    flex: 0 0 auto;
}

.defaultLayout__nav-container {
    @apply w-full;
    @apply max-w-[56%];
    background-color: theme('colors.custom-gray');
    @apply flex;
    @apply flex-row;
    @apply justify-between;
    position: relative;
    padding: 15px 15px;
    @media all and (max-width: 992px) {
        max-width: 100%;
    }

    &:before {
        content: "";
        width: 0;
        position: absolute;
        right: 100%;
        top: 0;
        border-top: 63px solid theme('colors.custom-gray');
        border-left: 35px solid transparent;
    }
}

.defaultLayout__nav-container > .menu:not(.menu-languages) {
    @media all and (max-width: 992px) {
        display: none;
    }
}

.menu {
    @apply flex;
    @apply flex-row;
    align-items: center;
    @media all and (max-width: 992px) {
        &:not(.menu-languages) {
            flex-direction: column;
        }
    }

    .menu__item {
        .menu__link {
            &:hover,
            &.active,
            &.router-link-active {
                background: theme('colors.custom-gray-dark');
            }
        }
        @media all and (max-width: 992px) {
            background:  theme('colors.custom-gray');
        }
    }

    .menu__link {
        padding: 3px 28px;
        color: theme('colors.text-color');
        font-size: 18px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 27px;
        text-align: left;
        display: inline-block;
        @media all and (max-width: 1140px) {
            padding: 3px 15px;
        }
    }

    &.menu-languages {
        .menu__item {
            margin: 0 5px;

            .menu__link {
                padding: 3px 8px;
            }
        }
    }
}

.mobile-menu {
    display: none;
    @media all and (max-width: 992px) {
        display: block;
    }

    .trigger {
        display: inline-block;
        //border: 1px solid theme('colors.text-color');
        width: 70px;
        line-height: 0;
        padding: 5px;
        height: 44px;
        position: relative;

        span {
            display: inline-block;
            width: 95%;
            border-top: 1px solid theme('colors.text-color');
            border-bottom: 1px solid theme('colors.text-color');
            padding: 7px 0;
            margin: 0 auto;
            position: relative;

            &:first-child {
                border-bottom: 0;
            }
        }
    }
}

.defaultLayout__nav-container.active {
    .trigger {
        span {
            &:first-child {
                top: 15px;
                transform: rotate(45deg);
                left: -10px;
            }

            &:nth-child(2) {
                border-bottom: 0;
                transform: rotate(-45deg);
                top: 0;
            }
        }
    }

    .menu:not(.menu-languages) {
        display: block;
        position: fixed;
        top: 73px;
        left: 0;
        width: 100%;
        background: theme('colors.custom-gray');
        height: calc(100% - 73px);
        z-index: 10;

        .menu__item {
            text-align: center;

            .menu__link {
                padding: 10px 15px;
            }
        }
    }
}

.home {
    justify-content: flex-end;
    height: calc(100vh - 200px);
    @media all and (max-width: 992px) {
        height: auto;
    }

    .home__logo {
        max-width: 520px;
        width: 100%;
        height: auto;
        margin-top: -70px;
        @media all and (max-width: 992px) {
            margin-top: 0;
        }
        @media all and (max-width: 768px) {
            max-width: 400px;
            margin: auto;
        }
    }

    .home__text {
        justify-content: start;
    }

    .home__description {
        /* Style for "Project on" */
        max-width: 445px;
        color: theme('colors.text-color');
        font-size: 19px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        text-align: left;
        margin-top: 60px;
        @media all and (max-width: 768px) {
            max-width: auto;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .home__partners {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        max-width: 62%;
        @media all and (max-width: 992px) {
            max-width: 100%;
        }

        & > div {
            max-width: 90%;
            padding-right: 5%;
            @media all and (max-width: 992px) {
                max-width: 100%;
                padding-right: 5%;
            }
        }

        .partners__img {
            margin-top: 40px;
            width: auto;
            height: 63%;
            min-height: 300px;
            max-width: fit-content;
            @media all and (max-width: 992px) {
                max-width: 100%;
                height: auto;
            }
        }

        .partners__logos {
            display: flex;

            .partners__item {
                padding: 0 20px;
            }
        }
    }
}

.defaultLayout__footer {
    background: theme('colors.footer-gray');
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    .defaultLayout__footer-navigation {
        width: 100%;
        max-width: 66%;
        background: theme('colors.footer-gray-dark');
        position: relative;

        .triangle {
            position: absolute;
            width: 97px;
            display: inline-block;
            right: 100%;
            top: 0;
            height: 100%;
            overflow: hidden;

            &:before {
                content: "";
                width: 148%;
                position: absolute;
                top: 0;
                right: -100%;
                background: theme('colors.footer-gray-dark');
                display: block;
                height: 145%;
                transform: rotate(31deg);
            }
        }

        .menu {
            padding: 25px 0;

            .menu__link {
                color: theme('colors.custom-white');
                font-size: 18px;
                font-weight: 400;
                font-style: normal;
                letter-spacing: normal;
                line-height: 27px;
            }

            .menu__item:hover {
                .menu__link {
                    //background: transparent;
                }
            }
        }

        .footer-navigation__copyright {
            color: theme('colors.custom-white');
            font-size: 14px;
            font-weight: 400;
            font-style: normal;
            letter-spacing: normal;
            line-height: 8px;
            text-align: right;
            padding: 90px 15px 30px;
        }
    }
}

.pageLayout {
    .defaultLayout__main {
        justify-content: end;
        height: fit-content;
        @media all and (max-width: 992px) {
            flex-direction: column;
            justify-content: start;
            padding-top: 15px;
        }
    }

    @media all and (max-width: 992px) {
        .pageLayout__logo {
            //display: none;
        }
    }

    .pageLayout__content {
        flex-basis: 60%;

        h1 {
            display: block;
            font-size: 2em;
            margin-block-start: 0.67em;
            margin-block-end: 0.67em;
            margin-inline-start: 0;
            margin-inline-end: 0;
            font-weight: 500;
            color: theme('colors.custom-gray-dark');
        }

        h2 {
            display: block;
            font-size: 1.9em;
            margin-block-start: 0.83em;
            margin-block-end: 0.83em;
            margin-inline-start: 0;
            margin-inline-end: 0;
            font-weight: 500;
            color: theme('colors.custom-gray-dark');
        }

        h3 {
            display: block;
            font-size: 1.17em;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0;
            margin-inline-end: 0;
            font-weight: 500;
            color: theme('colors.custom-gray-dark');
        }

        @media all and (max-width: 992px) {
            flex-basis: 100%;
        }

        .pageLayout__title {
            margin-top: 0;
            margin-bottom: 0;
            color: theme('colors.custom-gray-dark');
            text-align: right;
            font-weight: 500;
            font-size: 2.8em;
        }
    }

    .pageLayout__logo {
        padding-right: 25px;

        img {
            max-width: 385px;
            height: auto;
            margin-top: -25px;
            margin-right: 25px;
            @media all and (max-width: 992px) {
                margin-top: 0;
                width: 100%;
            }
        }
    }
}

.flash-message {
    display: flex;
    width: 100%;
    max-width: 900px;
    @apply mx-auto;
    @apply my-3;
    @apply p-6;
    @apply bg-white;
    @apply border;
    @apply border-gray-200;
    @apply text-center;
    &.success {
        @apply bg-green-200;
    }

    &.alert {
        @apply bg-yellow-200;
    }

    &.error {
        @apply bg-red-200;
    }

    .close-flash {
        position: absolute;
        right: 10px;
        top: 0;
        @apply p-1;
        cursor: pointer;
    }
}

/*
 * CKEditor 5 (v35.3.0) content styles.
 * Generated on Tue, 08 Nov 2022 15:19:15 GMT.
 * For more information, check out https://ckeditor.com/docs/ckeditor5/latest/installation/advanced/content-styles.html
 */

/* ckeditor5-basic-styles/theme/code.css */
.ck-content code {
    background-color: hsla(0, 0%, 78%, 0.3);
    padding: .15em;
    border-radius: 2px;
}

/* ckeditor5-block-quote/theme/blockquote.css */
.ck-content blockquote {
    overflow: hidden;
    padding-right: 1.5em;
    padding-left: 1.5em;
    margin-left: 0;
    margin-right: 0;
    font-style: italic;
    border-left: solid 5px hsl(0, 0%, 80%);
}

/* ckeditor5-block-quote/theme/blockquote.css */
.ck-content[dir="rtl"] blockquote {
    border-left: 0;
    border-right: solid 5px hsl(0, 0%, 80%);
}

/* ckeditor5-font/theme/fontsize.css */
.ck-content .text-tiny {
    font-size: .7em;
}

/* ckeditor5-font/theme/fontsize.css */
.ck-content .text-small {
    font-size: .85em;
}

/* ckeditor5-font/theme/fontsize.css */
.ck-content .text-big {
    font-size: 1.4em;
}

/* ckeditor5-font/theme/fontsize.css */
.ck-content .text-huge {
    font-size: 1.8em;
}

/* ckeditor5-font/theme/fontsize.css */
.ck-content h1 {
    font-size: 2.25rem;
}

.ck-content h2 {
    font-size: 1.8em;
}

.ck-content h3 {
    font-size: 1.4em;
}

/* ckeditor5-image/theme/imagecaption.css */
.ck-content .image > figcaption {
    display: table-caption;
    caption-side: bottom;
    word-break: break-word;
    color: var(--ck-color-image-caption-text);
    background-color: var(--ck-color-image-caption-background);
    padding: .6em;
    font-size: .75em;
    outline-offset: -1px;
}

/* ckeditor5-highlight/theme/highlight.css */
.ck-content .marker-yellow {
    background-color: var(--ck-highlight-marker-yellow);
}

/* ckeditor5-highlight/theme/highlight.css */
.ck-content .marker-green {
    background-color: var(--ck-highlight-marker-green);
}

/* ckeditor5-highlight/theme/highlight.css */
.ck-content .marker-pink {
    background-color: var(--ck-highlight-marker-pink);
}

/* ckeditor5-highlight/theme/highlight.css */
.ck-content .marker-blue {
    background-color: var(--ck-highlight-marker-blue);
}

/* ckeditor5-highlight/theme/highlight.css */
.ck-content .pen-red {
    color: var(--ck-highlight-pen-red);
    background-color: transparent;
}

/* ckeditor5-highlight/theme/highlight.css */
.ck-content .pen-green {
    color: var(--ck-highlight-pen-green);
    background-color: transparent;
}

/* ckeditor5-image/theme/image.css */
.ck-content .image {
    display: table;
    clear: both;
    text-align: center;
    margin: 0.9em auto;
    min-width: 50px;
}

/* ckeditor5-image/theme/image.css */
.ck-content .image img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    min-width: 100%;
}

/* ckeditor5-image/theme/image.css */
.ck-content .image-inline {
    /*
     * Normally, the .image-inline would have "display: inline-block" and "img { width: 100% }" (to follow the wrapper while resizing).;
     * Unfortunately, together with "srcset", it gets automatically stretched up to the width of the editing root.
     * This strange behavior does not happen with inline-flex.
     */
    display: inline-flex;
    max-width: 100%;
    align-items: flex-start;
}

/* ckeditor5-image/theme/image.css */
.ck-content .image-inline picture {
    display: flex;
}

/* ckeditor5-image/theme/image.css */
.ck-content .image-inline picture,
.ck-content .image-inline img {
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 100%;
}

/* ckeditor5-image/theme/imagestyle.css */
.ck-content .image-style-block-align-left,
.ck-content .image-style-block-align-right {
    max-width: calc(100% - var(--ck-image-style-spacing));
}

/* ckeditor5-image/theme/imagestyle.css */
.ck-content .image-style-align-left,
.ck-content .image-style-align-right {
    clear: none;
}

/* ckeditor5-image/theme/imagestyle.css */
.ck-content .image-style-side {
    float: right;
    margin-left: var(--ck-image-style-spacing);
    max-width: 50%;
}

/* ckeditor5-image/theme/imagestyle.css */
.ck-content .image-style-align-left {
    float: left;
    margin-right: var(--ck-image-style-spacing);
}

/* ckeditor5-image/theme/imagestyle.css */
.ck-content .image-style-align-center {
    margin-left: auto;
    margin-right: auto;
}

/* ckeditor5-image/theme/imagestyle.css */
.ck-content .image-style-align-right {
    float: right;
    margin-left: var(--ck-image-style-spacing);
}

/* ckeditor5-image/theme/imagestyle.css */
.ck-content .image-style-block-align-right {
    margin-right: 0;
    margin-left: auto;
}

/* ckeditor5-image/theme/imagestyle.css */
.ck-content .image-style-block-align-left {
    margin-left: 0;
    margin-right: auto;
}

/* ckeditor5-image/theme/imagestyle.css */
.ck-content p + .image-style-align-left,
.ck-content p + .image-style-align-right,
.ck-content p + .image-style-side {
    margin-top: 0;
}

/* ckeditor5-image/theme/imagestyle.css */
.ck-content .image-inline.image-style-align-left,
.ck-content .image-inline.image-style-align-right {
    margin-top: var(--ck-inline-image-style-spacing);
    margin-bottom: var(--ck-inline-image-style-spacing);
}

/* ckeditor5-image/theme/imagestyle.css */
.ck-content .image-inline.image-style-align-left {
    margin-right: var(--ck-inline-image-style-spacing);
}

/* ckeditor5-image/theme/imagestyle.css */
.ck-content .image-inline.image-style-align-right {
    margin-left: var(--ck-inline-image-style-spacing);
}

/* ckeditor5-image/theme/imageresize.css */
.ck-content .image.image_resized {
    max-width: 100%;
    display: block;
    box-sizing: border-box;
}

/* ckeditor5-image/theme/imageresize.css */
.ck-content .image.image_resized img {
    width: 100%;
}

/* ckeditor5-image/theme/imageresize.css */
.ck-content .image.image_resized > figcaption {
    display: block;
}

/* ckeditor5-language/theme/language.css */
.ck-content span[lang] {
    font-style: italic;
}

/* ckeditor5-list/theme/todolist.css */
.ck-content .todo-list {
    list-style: none;
}

/* ckeditor5-list/theme/todolist.css */
.ck-content .todo-list li {
    margin-bottom: 5px;
}

/* ckeditor5-list/theme/todolist.css */
.ck-content .todo-list li .todo-list {
    margin-top: 5px;
}

/* ckeditor5-list/theme/todolist.css */
.ck-content .todo-list .todo-list__label > input {
    -webkit-appearance: none;
    display: inline-block;
    position: relative;
    width: var(--ck-todo-list-checkmark-size);
    height: var(--ck-todo-list-checkmark-size);
    vertical-align: middle;
    border: 0;
    left: -25px;
    margin-right: -15px;
    right: 0;
    margin-left: 0;
}

/* ckeditor5-list/theme/todolist.css */
.ck-content .todo-list .todo-list__label > input::before {
    display: block;
    position: absolute;
    box-sizing: border-box;
    content: '';
    width: 100%;
    height: 100%;
    border: 1px solid hsl(0, 0%, 20%);
    border-radius: 2px;
    transition: 250ms ease-in-out box-shadow, 250ms ease-in-out background, 250ms ease-in-out border;
}

/* ckeditor5-list/theme/todolist.css */
.ck-content .todo-list .todo-list__label > input::after {
    display: block;
    position: absolute;
    box-sizing: content-box;
    pointer-events: none;
    content: '';
    left: calc(var(--ck-todo-list-checkmark-size) / 3);
    top: calc(var(--ck-todo-list-checkmark-size) / 5.3);
    width: calc(var(--ck-todo-list-checkmark-size) / 5.3);
    height: calc(var(--ck-todo-list-checkmark-size) / 2.6);
    border-style: solid;
    border-color: transparent;
    border-width: 0 calc(var(--ck-todo-list-checkmark-size) / 8) calc(var(--ck-todo-list-checkmark-size) / 8) 0;
    transform: rotate(45deg);
}

/* ckeditor5-list/theme/todolist.css */
.ck-content .todo-list .todo-list__label > input[checked]::before {
    background: hsl(126, 64%, 41%);
    border-color: hsl(126, 64%, 41%);
}

/* ckeditor5-list/theme/todolist.css */
.ck-content .todo-list .todo-list__label > input[checked]::after {
    border-color: hsl(0, 0%, 100%);
}

/* ckeditor5-list/theme/todolist.css */
.ck-content .todo-list .todo-list__label .todo-list__label__description {
    vertical-align: middle;
}

/* ckeditor5-page-break/theme/pagebreak.css */
.ck-content .page-break {
    position: relative;
    clear: both;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ckeditor5-page-break/theme/pagebreak.css */
.ck-content .page-break::after {
    content: '';
    position: absolute;
    border-bottom: 2px dashed hsl(0, 0%, 77%);
    width: 100%;
}

/* ckeditor5-page-break/theme/pagebreak.css */
.ck-content .page-break__label {
    position: relative;
    z-index: 1;
    padding: .3em .6em;
    display: block;
    text-transform: uppercase;
    border: 1px solid hsl(0, 0%, 77%);
    border-radius: 2px;
    font-family: Helvetica, Arial, Tahoma, Verdana, Sans-Serif;
    font-size: 0.75em;
    font-weight: bold;
    color: hsl(0, 0%, 20%);
    background: hsl(0, 0%, 100%);
    box-shadow: 2px 2px 1px hsla(0, 0%, 0%, 0.15);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* ckeditor5-media-embed/theme/mediaembed.css */
.ck-content .media {
    clear: both;
    margin: 0.9em 0;
    display: block;
    min-width: 15em;
}

/* ckeditor5-table/theme/tablecaption.css */
.ck-content .table > figcaption {
    display: table-caption;
    caption-side: top;
    word-break: break-word;
    text-align: center;
    color: var(--ck-color-table-caption-text);
    background-color: var(--ck-color-table-caption-background);
    padding: .6em;
    font-size: .75em;
    outline-offset: -1px;
}

/* ckeditor5-table/theme/table.css */
.ck-content .table {
    margin: 0.9em auto;
    display: table;
}

/* ckeditor5-table/theme/table.css */
.ck-content .table table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    height: 100%;
    border: 1px double hsl(0, 0%, 70%);
}

/* ckeditor5-table/theme/table.css */
.ck-content .table table td,
.ck-content .table table th {
    min-width: 2em;
    padding: .4em;
    border: 1px solid hsl(0, 0%, 75%);
}

/* ckeditor5-table/theme/table.css */
.ck-content .table table th {
    font-weight: bold;
    background: hsla(0, 0%, 0%, 5%);
}

/* ckeditor5-table/theme/table.css */
.ck-content[dir="rtl"] .table th {
    text-align: right;
}

/* ckeditor5-table/theme/table.css */
.ck-content[dir="ltr"] .table th {
    text-align: left;
}

/* ckeditor5-table/theme/tablecolumnresize.css */
.ck-content .table .ck-table-resized {
    table-layout: fixed;
}

/* ckeditor5-table/theme/tablecolumnresize.css */
.ck-content .table table {
    overflow: hidden;
}

/* ckeditor5-table/theme/tablecolumnresize.css */
.ck-content .table td,
.ck-content .table th {
    position: relative;
}

/* ckeditor5-code-block/theme/codeblock.css */
.ck-content pre {
    padding: 1em;
    color: hsl(0, 0%, 20.8%);
    background: hsla(0, 0%, 78%, 0.3);
    border: 1px solid hsl(0, 0%, 77%);
    border-radius: 2px;
    text-align: left;
    direction: ltr;
    tab-size: 4;
    white-space: pre-wrap;
    font-style: normal;
    min-width: 200px;
}

/* ckeditor5-code-block/theme/codeblock.css */
.ck-content pre code {
    background: unset;
    padding: 0;
    border-radius: 0;
}

/* ckeditor5-horizontal-line/theme/horizontalline.css */
.ck-content hr {
    margin: 15px 0;
    height: 4px;
    background: hsl(0, 0%, 87%);
    border: 0;
}

/* ckeditor5-list/theme/liststyles.css */
.ck-content ol {
    list-style-type: decimal;
}

/* ckeditor5-list/theme/liststyles.css */
.ck-content ol ol {
    list-style-type: lower-latin;
}

/* ckeditor5-list/theme/liststyles.css */
.ck-content ol ol ol {
    list-style-type: lower-roman;
}

/* ckeditor5-list/theme/liststyles.css */
.ck-content ol ol ol ol {
    list-style-type: upper-latin;
}

/* ckeditor5-list/theme/liststyles.css */
.ck-content ol ol ol ol ol {
    list-style-type: upper-roman;
}

/* ckeditor5-list/theme/liststyles.css */
.ck-content ul {
    list-style-type: circle;
}

/* ckeditor5-list/theme/liststyles.css */
.ck-content ul ul {
    list-style-type: disc;
}

/* ckeditor5-list/theme/liststyles.css */
.ck-content ul ul ul {
    list-style-type: square;
}

/* ckeditor5-list/theme/liststyles.css */
.ck-content ul ul ul ul {
    list-style-type: square;
}

/* ckeditor5-mention/theme/mention.css */
.ck-content .mention {
    background: var(--ck-color-mention-background);
    color: var(--ck-color-mention-text);
}

@media print {
    /* ckeditor5-page-break/theme/pagebreak.css */
    .ck-content .page-break {
        padding: 0;
    }
    /* ckeditor5-page-break/theme/pagebreak.css */
    .ck-content .page-break::after {
        display: none;
    }
}

/**
 * Note: I have omitted any vendor-prefixes for clarity.
 * Adding them is left as an exercise for the reader.
 */


.headroom {
    will-change: transform;
    transition: transform 200ms linear;
    z-index: 1030;
}

.headroom--not-top {
    left: auto;
    top: 0;
    position: fixed;
    right: 0;
    animation: navAnimateActive 500ms;
}


@keyframes navAnimateActive {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0%);
    }
}

@keyframes navAnimateUnActive {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(-100%);
    }
}
